parameters:
    treatPhpDocTypesAsCertain: false
    reportUnmatchedIgnoredErrors: false
    ignoreErrors:
        # 忽略Entity ID属性的onlyRead错误 - Doctrine自动生成主键ID
        -
            message: '#Property.*::\$id is never written, only read#'
            paths:
                - src/Entity/*.php
